body {
  font-family: "Roboto", "Times New Roman", Times, serif;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, .text {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  margin: 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.right-header {
  display: flex;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding-left: 200px;
  padding-right: 200px;
}

.hero-image {
  width: 600px;
  height: auto;
  flex-shrink: 0;
}

.hero-h {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.hero-text {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 400px;
}

.sign-up {
  width: 86px;
  height: auto;
  padding: 6px;
  background-color: #3882F6;
  color: #E5E7EB;
  border: 2px;
  border-radius: 6px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.information {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
}

.info-header {
  display: flex;
  justify-content: center;
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;
  padding: 24px;
}

.bento-img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  border-color: #3882F6;
}

.bento {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  gap: 52px;
}

.bento-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sub.text {
  color: #1F2937;
  text-align: center;
  width: 200px;
}

.quote {
  background-color: #E5E7EB;
  padding-left: 250px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.phrase.text {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.author.text {
  color: #1F2937;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.call {
  padding-left: 200px;
  padding-right: 200px;
}

.call-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.call-header {
  color: white;
  margin: 0;
}

.call-card {
  background-color: #3882F6;
  border: 2px;
  border-radius: 4px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.sign-up.bot {
  border: 1px, solid, white;
}

.call {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  background-color: #1F2937;
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  align-items: center;
}
