body {
  font-family: "Roboto", "Times New Roman", Times, serif;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, .text {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  margin: 0;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.right-header {
  display: flex;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding-left: 200px;
  padding-right: 200px;
}

.hero-image {
  width: 600px;
  height: auto;
  flex-shrink: 0;
}

.hero-h {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.hero-text {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 400px;
}

.sign-up {
  width: 86px;
  height: auto;
  padding: 6px;
  background-color: #3882F6;
  color: #E5E7EB;
  border: 2px;
  border-radius: 6px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
